body{
  margin: 0px;
  padding: 0px;
}
button{
  border: none;
}
.outlined{
  border: 1px solid #aaaaaa;
}
.center{
  display: grid;
  align-items: center;
  justify-content: center;
}
.appbar{
  display: grid;
  grid-template-columns: auto max-width auto;
  justify-content: space-between;
}
